@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}
body{
    background-color: black;
    color: white;
}

/* TODO: header design */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(2, 2, 2);
    z-index: 100;
}
a{
    color: white;
}
.logo{
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.navbar a{
    margin-left: 2rem;
    font-size: 1rem;
}
.navbar a:hover, 
.navbar a.activeLink
{
    color: skyblue;

}
.navbar a:hover{
    color: skyblue;

}
.burger i{
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
}


/* TODO: sections size */

section{
    min-height: 100vh;
    padding: 1rem 9% 2rem;
}

/* TODO: home section */
.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-content h1{
    font-size: 2rem;
}
.home-content h1 span{
    color: skyblue;
}

.home-content h1{
    margin: 0.5rem auto
}
.home-content p{
    margin: 0.5rem auto;
    width: 400px;
    font-size: 0.7rem;
    opacity: 0.7;
    align-items: center;
    text-align: start;
}

.home-content-btn{
    margin-top: 1rem;
    padding: 0.4rem;
    background: none;
    border: 1px solid skyblue;
    cursor: pointer;
    color: white;

}
.home-image{
    position: relative;
    border-radius: 50%;
    background-color: skyblue;
    width: 350px;
    height: 400px;
    background-image: url('./assets/hani.png');
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: center;
    top: 3rem;

}

/* TODO: about section */
.about{
    background-color: rgb(15, 14, 14);
     margin: 2rem;
     border-radius: 20px;

}
.about-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    padding: 1rem;   
}

.about-me{
    width: 350px;
    height: 350px;
    border: 6px solid skyblue;
    background-color: rgb(59, 90, 103);
    border-radius: 59%;
    background-image: url('./assets/aboutImg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 350px;
}

.about-content{
    position: relative;
    left: 5rem;
}

.about h1{
    position: relative;
    font-size: 1.5rem;
    opacity: 0.7;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.about-content .p-content{
   padding: 0.1rem;
   margin-top: 1rem;
   color: white;
}

.about-content .p-content span{
    position: relative;
    color: rgb(158, 221, 246);
    left: 0.5rem;
}

.summery{
    padding: 0.1rem;
    margin-top: 1rem;
    width: 40rem;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 0.7rem;
    color: white;

}
.summery span{
    color: skyblue;
    font-weight: bold;
}




/* TODO: Skill section */

.skill{
    margin: 2rem;
    background-color: rgb(15, 14, 14);
    border-radius: 20px;
}


.skill-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    
  
}

.html{
    background-color: rgb(35, 35, 34);
    border-radius: 20px;
    width: 250px;
    height: 300px;
    padding: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    border: .2rem solid rgb(15, 14, 14);;
    transition: 2s ease;
}
.html:hover{
    border-color: skyblue; 
    transform: scale(1.02);
}


.html p {
    font-size: 0.7rem;
    text-align: center;
    position: relative;
    top: 1.5rem;
    opacity: 0.7;
}
.html h1{
    text-align: center;
    position: relative;
    top: 0.7rem;
}
.icon{
    background-color: rgb(49, 49, 49);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    margin: 0 auto;
}
.icon i{
    position: relative;
    top: 1.3rem;
    color: skyblue;
}

.skillTitle{
    position: relative;
    font-size: 2rem;
    opacity: 0.9;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    margin-top: 6rem;
}


.css{
    background-color: rgb(35, 35, 34);
    border-radius: 20px;
    width: 250px;
    height: 300px;
    padding: 1rem;
    margin-top: 2rem;
    border: .2rem solid rgb(15, 14, 14);;
    transition: 2s ease;
    cursor: pointer;
}
.css:hover{
    border-color: skyblue; 
    transform: scale(1.02);
}


.css p {
    font-size: 0.7rem;
    text-align: center;
    position: relative;
    top: 1.5rem;
    opacity: 0.7;
}
.css h1{
    text-align: center;
    position: relative;
    top: 0.7rem;
}
.js{
    background-color: rgb(35, 35, 34);
    border-radius: 20px;
    width: 250px;
    height: 300px;
    padding: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    border: .2rem solid rgb(15, 14, 14);;
    transition: 2s ease;
}
.js:hover{
    border-color: skyblue; 
    transform: scale(1.02);
}

.js p {
    font-size: 0.7rem;
    text-align: center;
    position: relative;
    top: 1.5rem;
    opacity: 0.7;
}
.js h1{
    text-align: center;
    position: relative;
    top: 0.7rem;
}


/* TODO: Hobbies section */

.hobbies{
    background-color: rgb(15, 14, 14);
    margin: 2rem;
    border-radius: 20px;
}

.hobbies h1{
    margin-bottom: 4rem;
    text-align: center;
    font-size: 2rem;
}
.hobbies h1 span{
    color: skyblue;
}
.hobbies-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    align-items: center;
}

.hobbies-container .hobbies-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgb(55, 54, 54);
    overflow: hidden;
    display: flex;
}
.hobbies-box img{
    width: 350px;
    height: 300px;
    transition: .5s ease;
}

.hobbies-box:hover img{
    transform: scale(1.1);
}

.hobbies-box .hobbies-info{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0 , 0 , 0 , .1), skyblue);
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 1s ease;
}
.hobbies-box:hover .hobbies-info{
    transform: translateY(0);
}


.hobbies-info h1{
    font-size: 1.3rem;
}

.hobbies-info p{
    font-size: 0.7rem;
    margin: .3rem 0 1rem;
    width: 300px;
}






/* TODO: Contect section */

.contect{
    background-color: rgb(15, 14, 14);
    margin: 2rem;
    border-radius: 20px;
}

.contect h1{
    margin-bottom: 4rem;
    text-align: center;
    font-size: 2rem;
}
.contect h1 span{
    color: skyblue;
}

.contect form{
    max-width: 40rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contect form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contect form .input-box input,
.contect form textarea{
    width: 100%;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    color: aliceblue;
    background-color: rgb(33, 31, 31);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contect form .input-box input{
    width: 49%;
}

.input-btn{
    padding: 0.8rem 1rem;
    background-color: rgb(63, 124, 148);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 .2rem white;
    font-size: 1rem;
    cursor: pointer;
}

/* TODO: footer section */


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: rgb(15, 14, 14);
    border-radius: 2rem 0;
}

.footer-text p{
    font-size: 0.9rem;
}

.footer-text p span{
    color: skyblue;
}

.footer-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem .8rem;
    background-color: rgb(80, 136, 159);
    border-radius: .8rem;
}


.footer-icon a i{
    font-size: 1.5rem;
    color: white;
   
}



















@media (max-width: 1000px){
    html{
        font-size: 80%;
    }
 
   
    
}

@media (max-width: 991px){
    .header{
       padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 20rem;
    }
    
}

@media (max-width: 860px){
    .burger i{
        display: block;
    }
    .navbar{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
       background-color: rgb(37, 37, 37);
        border-top: .1rem solid rgba(0 , 0 , 0 , .2);
        box-shadow:  0 .5rem 1rem rgba(0 , 0 , 0 , .2);
    }
    .navbar a{
        display: block;
        font-size: 1.2em;
        margin: 2rem 0;
    }
    .active{
        display: block;
    }

    .home{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }

    .home-image{
        position: relative;
        border-radius: 50%;
        width: 400px;
        height: 450px;
        margin: 0 auto;
        background-size: 300px;
    
    }
    .home-content p{

        text-align: center;
        

    }
    .home-content h1{
        position: relative;

    }


    .about-container{
        display: block;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }

    .about-me{

        background-size: 350px;
        align-items: center;
        margin: 0 auto;
    }
    .about-content {
        left: 0;
    }

    .summery{
        text-align: center;
        margin: 1rem auto;

    
    }

    .about-content .p-content {
        text-align: center;
     }

     .html{
        width: 230px;
     }
     .css{
        width: 230px;
     }
     .js{
        width: 230px;
     }
}


@media (max-width: 680px){
    .skill-card{
        display: grid;
        grid-template-columns: repeat(1 ,1fr );
        grid-template-rows: 2fr;
        gap: 10px; 
      
    }
    .js{
        margin-left: 7rem;
        width: 300px;

    }
    .html{
        margin-left: 7rem;
        width: 300px;
     }
     .html p{
        font-size: 1rem;
     }
     .css{
        margin-left: 7rem;
        width: 300px;
  
     }
     .css p{
        font-size: 1rem;
     }
    
     .js p{
        font-size: 1rem;
     }

     .hobbies-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
        align-items: center;
    }
    .hobbies-info p{
        font-size: 0.7rem;
        margin: .3rem 0 1rem;
        width: 200px;
    }
}


@media (max-width: 360px){

    
    .home-content p{
        position: relative;
        
        width: 300px;
        
    }
    /* .home-content-btn{
        position: relative;
        left: 9rem;
    } */

    .hobbies-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5rem;
        align-items: center;
    }
    .hobbies-info p{
        font-size: 0.7rem;
        margin: .3rem 0 1rem;
        width: 150px;
    }

    .js{
        margin-left: 0;
        width: 280px;

    }
    .html{
        margin-left: 0;
        width: 280px;
     }
     .html p{
        font-size: 1rem;
     }
     .css{
        margin-left: 0;
        width: 280px;
  
     }
     .css p{
        font-size: 1rem;
     }
    
     .js p{
        font-size: 1rem;
     }

     .summery{
        padding: 0rem;
        margin-top: 1rem;
        width: 20rem;
        letter-spacing: .2px;
        line-height: 26px;
        font-size: .7rem;
        color: white;
        /* margin-right: 40rem; */
    
    }
    .home-image{
        position: relative;
        border-radius: 50%;
        width: 300px;
        height: 300px;
        margin: 0 auto;
        background-size: 200px;
    
    }

    .about-me{
        width: 250px;
        height: 250px;
        background-size: 250px;
    }
    

}
